.cte_type.status1 {
color:#CC5555;
font-size:10px;
}
.cte_type.status2 {
color:#077F00;
font-size:10px;
}
.cte_type.status3 {
color:#FFB900;
font-size:10px;
}

.global_import{
  background:url("icons/import.gif") no-repeat left center;
  padding-left: 18px;
}
.global_export{
  background:url("icons/export.gif") no-repeat left center;
  padding-left: 18px;
}